{% extends 'base.html.twig' %}

{% block body %}

    <section id="gestionPageLivre">
        <div id="sectionCourantDiv">
            <h5 id="sectionCourantH">Section courant</h5>
            {% for section in sectionsRoute %}
                <h5 class="sectionRoute niveau{{loop.index0}}">
                    {% if not loop.first %}
                        <span>&#10149</span> {# Symbole de fleche #}
                    {% endif %}
                    {{section}}
                </h5>
            {% endfor %}
            <div>
                <a id="premierRetourAuMatieres" href="{{ path('tableDesMatieres', {'livre':livre.id}) }}">Table des matières</a>
            </div>
        </div>
        <section id="gestionPage">
            <div id="pageContenu">
                <div id="affichageContenu">
                    {{ contenu }}
                </div>
                <div id="modificationContenu">
                    {{ form_start(formContenuPage) }}
                    {{ form_row(formContenuPage.contenu)}}
                        <button id="enregistrerContenuBtn" class="changementContenuBtn">
                            <img class="changementContenuIcon" src="/InfiniteAuthors/src/img/enregistrer.png">
                            <span class="changementContenuSpan">Enregistrer</span>
                        </button>
                    {{ form_end(formContenuPage) }}
                </div>
                {% if app.user and app.user == livre.getAuteur() %}
                    <button id="modifierContenuBtn" class="changementContenuBtn">
                        <img class="changementContenuIcon" src="/InfiniteAuthors/src/img/modifier.png">
                        <span class="changementContenuSpan">Modifier</span>
                    </button>
                {% endif %}
            </div>
        </section>

        <div id="gestionPages">

        </div>
    </section>

    {% block javascripts %}
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="/InfiniteAuthors/src/js/page.js"></script>
    {% endblock %}

{% endblock %}